/*Education Section*/
.education {
    background-color: #f5f5f5;
    display: flex;
    padding: 50px 60px;
    flex-direction: column;
    justify-content: center;

}
.section-title{
    text-align: center;
    font-size: 40px;
     color: #091d41;
}


/*Container*/
.container{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    align-items: start;
}

/*Academic block*/
.academic {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

/*Academic Cards*/
.card {
    width: 100%;
    padding: 22px;
    border-radius: 12px;
    margin: 0;

    background: #f5f5f6;
    
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease;
}



/*Academic Card Content*/
.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.title {
    font-size: 20px;
    font-weight: 600;
     color: #091d41;
}

.time {
    color: #777;
    font-size: 14px;
    white-space: nowrap;
}

.card-middle {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 10px;
}

.institute {
    font-size: 16px;
    color: #333;
}

.grade {
    font-size: 15px;
    font-weight: 600;
    color:#000;
    white-space: nowrap;
}

.summary {
    margin-top: 12px;
    font-size: 15px;
    color: #6b7280;
    line-height: 2;
}


/*Certification block*/
.certifications {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.certifications h2 {
     color: #091d41;
    font-size: 20px;
    margin-bottom: 4px;
    margin-top: 1;
}

/*Certification Card*/
.cert-card {
    padding: 15px 18px;
    border-radius: 10px;

    background: #f5f5f6;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

/*Certification Card Content*/
.cert-title {
    font-size: 15px;
    font-weight: 500;
    color:#111;
}

.cert-org {
    display: block;
    font-size: 13px;
    margin-top: 4px;
    color: #777;
}
